[Unit]
Description=Node Superscreen Server

[Service]
ExecStart=/usr/bin/node /var/http/superscreen/server.js
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=superscreen

#Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
