[Unit]
Description=Node Superscreen Demo

[Service]
ExecStart=/usr/bin/node /var/http/superscreen/deom/demo.js
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=superscreen-demo

Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
